<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Cause Analysis (Ishikawa)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container">
        <section id="root-cause-analysis">
            <div class="card mx-auto mb-4">
                <div class="button-container">
                    <a routerLink="/pages/lean/root-cause-analysis/method" class="btn btn-primary me-2">Try it out!</a>
                </div>
                <router-outlet></router-outlet>
                <div class="card-body">
                    <h1 class="card-title">Root Cause Analysis (Ishikawa)</h1>
                    <br><br>
                    <div class="content-container1">
                        <h6 class="expandable">
                            <!-- Display text or input based on edit mode -->
                            <span *ngIf="!isEditing">{{demo.introduction}}</span>
                            <input *ngIf="isEditing" [(ngModel)]="demo.introduction"
                                (blur)="saveEdit('introduction')" />
                        </h6>
                        <span class="show-more" (click)="toggleEdit()">Show more</span>
                        <div class="button-container">
                            <!-- Toggle edit mode -->
                            <button nbButton status="primary" (click)="toggleEdit()" class="edit-button">{{ isEditing ?
                                'Save' : 'Edit' }}</button>
                        </div>
                    </div>
                </div>
                <!-- Add button -->
                <div class="button-container">
                    <button nbButton status="success" class="add-button" (click)="toggleAdd()">Add New Content</button>
                </div>
                <!-- Quill Editor -->
                <div *ngIf="isAdding">
                    <quill-editor [(ngModel)]="newContent" [modules]="editorModules"></quill-editor>
                    <button nbButton status="primary" (click)="saveNewContent()" class="save-button">Save</button>
                </div>
            </div>
        </section>

        <!-- Section Stepper -->
        <section id="stepper-section" class="my-5">
            <div class="card mx-auto mb-4">
                <div class="card-body">
                    <nb-stepper orientation="horizontal">
                        <!-- First Step -->
                        <nb-step [label]="'First step'">
                            <ng-template #labelOne>First step</ng-template>

                            <!-- Step 1 Title -->
                            <h4 *ngIf="!isEditingStep1">{{demo.step1title}}</h4>
                            <input *ngIf="isEditingStep1" [(ngModel)]="demo.step1title"
                                (blur)="saveEditStep('step1title')" placeholder="Step 1 Title" />

                            <br>

                            <!-- Step 1 Content -->
                            <h6 class="lorem" *ngIf="!isEditingStep1">{{demo.step1content}}</h6>
                            <textarea *ngIf="isEditingStep1" [(ngModel)]="demo.step1content"
                                (blur)="saveEditStep('step1content')" placeholder="Step 1 Content"></textarea>

                            <br>

                            <button nbButton disabled nbStepperPrevious>prev</button>
                            <button nbButton nbStepperNext>next</button>
                            <button nbButton status="primary" (click)="toggleEditStep('step1')" class="edit-button">
                                {{ isEditingStep1 ? 'Save' : 'Edit' }}
                            </button>
                        </nb-step>

                        <!-- Second Step -->
                        <nb-step [label]="'Second step'">
                            <ng-template #labelTwo>Second step</ng-template>

                            <!-- Step 2 Title -->
                            <h4 *ngIf="!isEditingStep2">{{demo.step2title}}</h4>
                            <input *ngIf="isEditingStep2" [(ngModel)]="demo.step2title"
                                (blur)="saveEditStep('step2title')" placeholder="Step 2 Title" />

                            <br>

                            <!-- Step 2 Content -->
                            <h6 class="lorem" *ngIf="!isEditingStep2">{{demo.step2content}}</h6>
                            <textarea *ngIf="isEditingStep2" [(ngModel)]="demo.step2content"
                                (blur)="saveEditStep('step2content')" placeholder="Step 2 Content"></textarea>

                            <br>

                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton nbStepperNext>next</button>
                            <button nbButton status="primary" (click)="toggleEditStep('step2')" class="edit-button">
                                {{ isEditingStep2 ? 'Save' : 'Edit' }}
                            </button>
                        </nb-step>

                        <!-- Third Step -->
                        <nb-step [label]="'Third step'">

                            <!-- Step 3 Title -->
                            <h4 *ngIf="!isEditingStep3">{{demo.step3title}}</h4>
                            <input *ngIf="isEditingStep3" [(ngModel)]="demo.step3title"
                                (blur)="saveEditStep('step3title')" placeholder="Step 3 Title" />

                            <br>

                            <!-- Step 3 Content -->
                            <h6 class="lorem" *ngIf="!isEditingStep3">{{demo.step3content}}</h6>
                            <textarea *ngIf="isEditingStep3" [(ngModel)]="demo.step3content"
                                (blur)="saveEditStep('step3content')" placeholder="Step 3 Content"></textarea>

                            <br>

                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton nbStepperNext>next</button>
                            <button nbButton status="primary" (click)="toggleEditStep('step3')" class="edit-button">
                                {{ isEditingStep3 ? 'Save' : 'Edit' }}
                            </button>
                        </nb-step>

                        <!-- Fourth Step -->
                        <nb-step [label]="'Fourth step'">

                            <!-- Step 4 Title -->
                            <h4 *ngIf="!isEditingStep4">{{demo.step4title}}</h4>
                            <input *ngIf="isEditingStep4" [(ngModel)]="demo.step4title"
                                (blur)="saveEditStep('step4title')" placeholder="Step 4 Title" />

                            <br>

                            <!-- Step 4 Content -->
                            <h6 class="lorem" *ngIf="!isEditingStep4">{{demo.step4content}}</h6>
                            <textarea *ngIf="isEditingStep4" [(ngModel)]="demo.step4content"
                                (blur)="saveEditStep('step4content')" placeholder="Step 4 Content"></textarea>

                            <br>

                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton disabled nbStepperNext>next</button>
                            <button nbButton status="primary" (click)="toggleEditStep('step4')" class="edit-button">
                                {{ isEditingStep4 ? 'Save' : 'Edit' }}
                            </button>
                        </nb-step>
                    </nb-stepper>

                </div>
            </div>
        </section>
        <!-- Section Ishikawa Diagram -->
        <section id="ishikawa-diagram">
            <div class="card mx-auto mb-4">
                <div class="card-body">
                    <h1 class="card-title">Ishikawa Diagram Example</h1>
                    <br><br>
                    <div class="content-container">
                        <h6 class="expandable">
                            {{demo.example}}
                        </h6>
                        <span class="show-more">Show more</span>
                        <div class="button-container">
                            <button nbButton status="primary" (click)="editContent()" class="edit-button">Edit</button>
                        </div>
                    </div>
                    <div class="svg-container">
                        <h5 class="card-title">View Diagram</h5>
                        <!-- Icône de l'appareil photo Bootstrap -->
                        <i class="bi bi-camera bi-3x" style="cursor: pointer;" data-toggle="modal"
                            data-target="#fishboneModal"></i>
                        <!-- Modal -->
                        <div class="modal fade" id="fishboneModal" tabindex="-1" aria-labelledby="fishboneModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="fishboneModalLabel">View Diagram</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="assets/images/fishbone.png" class="img-fluid" alt="Ishikawa">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Limitations and Acceptations -->
        <section id="limitations-acceptations">
            <div class="card mx-auto mb-4">
                <div class="card-body">
                    <h1 class="card-title">Limitations and Acceptations</h1>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Advantages</th>
                                    <th scope="col">Limitations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="bi bi-check tick"></i> Solves recurring issues effectively.</td>
                                    <td><i class="bi bi-x-circle error"></i> Requires skilled facilitators for effective
                                        sessions.</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-check tick"></i> Improves decision-making based on data-driven
                                        insights.</td>
                                    <td><i class="bi bi-x-circle error"></i> Depends heavily on thorough data collection
                                        and analysis.</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-check tick"></i> Facilitates resolution of complex problems.
                                    </td>
                                    <td><i class="bi bi-x-circle error"></i> Can be time-consuming during data
                                        collection and analysis.</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-check tick"></i> Encourages cross-functional collaboration.</td>
                                    <td><i class="bi bi-x-circle error"></i> Requires regular data updates to remain
                                        effective.</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-check tick"></i> Improves customer satisfaction by identifying
                                        and eliminating recurring issues.</td>
                                    <td><i class="bi bi-x-circle error"></i> May not capture all external factors
                                        influencing a problem.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="card">
                    <div class="card-body">
                        <section id="rca-tutorial">
                            <h2>RCA-Tutoriel</h2>
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h3>Why</h3>
                                    <h4 class="expandable">Understanding the root causes allows organizations to
                                        implement lasting solutions, reducing the likelihood of recurring issues and
                                        improving overall efficiency. RCA enables a proactive approach to
                                        problem-solving by focusing on underlying factors rather than just addressing
                                        symptoms.</h4>
                                    <span class="show-more">Show more</span>
                                    <div class="button-container">
                                        <button nbButton status="primary" (click)="editContent()"
                                            class="edit-button">Edit</button>
                                    </div>
                                </div>
                                <div class="svg-container">
                                    <img src="">
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h3>What</h3>
                                    <h4 class="expandable">{{demo.what}}</h4>
                                    <span class="show-more">Show more</span>
                                    <div class="button-container">
                                        <button nbButton status="primary" (click)="editContent()"
                                            class="edit-button">Edit</button>
                                    </div>
                                </div>
                                <div class="svg-container">

                                    <img src="">



                                </div>
                            </div>
                            <div class=" card mb-3">
                                <div class="card-header">
                                    <h3>How</h3>
                                    <h4 class="expandable">{{demo.how}}</h4>
                                    <span class="show-more">Show more</span>
                                    <div class="button-container">
                                        <button nbButton status="primary" (click)="editContent()"
                                            class="edit-button">Edit</button>
                                    </div>
                                </div>
                                <div class="svg-container">

                                    <img src="">


                                </div>
                            </div>
                            <div class="container mt-5">
                                <!-- Section What If -->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h3>What If</h3>
                                        <h4 class="expandable">{{demo.whatif}}</h4>
                                        <span class="show-more">Show more</span>
                                        <div class="button-container">
                                            <button nbButton status="primary" (click)="editContent()"
                                                class="edit-button">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- rca-demo.component.html -->
        <a routerLink="/pages/lean/root-cause-analysis/quizz" class="btn btn-primary me-2">Quizz</a>

    </div>
</body>

</html>