<div class="container">
    <h1>Root Cause Analysis (Ishikawa)</h1>
    <br>
    <br>
    <h6>A diagram of fishbone or an Ishikawa diagram helps us to identify the root causes of a problem or risk and
        develop solutions to those
        problems. It is shaped like a fish skeleton, with the problem statement at the head and the causes branching off
        like bones. Fishbone diagrams can be a helpful tool for teams to brainstorm and identify the root causes of a
        problem. They can also be used to track progress over time and ensure that all possible causes of a problem have
        been considered. In this article, we will study a fishbone diagram in detail, its components, and the steps to
        create a fishbone diagram.</h6>
    <br>
    <section id="phases">
        <div class="svg-container">
            <section id="image-container">
                <img src="assets/images/fishbone.png" alt="Ishikawa" id="build-smart-image">
            </section>
            <br>
            <br>
            <nb-card>
                <nb-card-body>
                    <nb-stepper orientation="horizontal">
                        <nb-step [label]="labelOne">
                            <ng-template #labelOne>First step</ng-template>
                            <h4>Why (Purpose)</h4>
                            <br>
                            <h6 class="lorem">
                                Root Cause Analysis (RCA) using the Ishikawa (Fishbone) diagram is a technique used to
                                identify the underlying causes of a problem. The purpose is to systematically break down
                                potential causes of an issue to pinpoint the root cause, thereby enabling effective
                                solutions and preventing recurrence.
                            </h6>
                            <br>
                            <button nbButton disabled nbStepperNext>prev</button>
                            <button nbButton nbStepperNext>next</button>
                        </nb-step>
                        <nb-step [label]="labelTwo">
                            <ng-template #labelTwo>Second step</ng-template>
                            <h4>How (Implementation Process)</h4>
                            <br>
                            <h6 class="lorem">
                                1. Identify the Problem: Clearly define the problem or effect you are investigating.
                            </h6>
                            <br>
                            <h6 class="lorem">2. Create the Fishbone Diagram: Draw a large arrow pointing to the right;
                                this
                                represents the main problem. Draw lines branching off the main arrow for each category
                                of potential causes.</h6>
                            <br>
                            <h6 class="lorem">3. Determine Major Categories: Common categories include People,
                                Processes, Equipment,
                                Materials, Environment, and Management. These are the main bones of the fish.</h6>
                            <br>
                            <h6 class="lorem">4. Brainstorm Causes: For each category, brainstorm potential causes
                                and add them as
                                smaller branches off each main category line.</h6>
                            <br>
                            <h6 class="lorem">5. Analyze and Identify Root Causes: Review the diagram, analyze the
                                relationships
                                between causes, and identify the root causes contributing most significantly to the
                                problem.</h6>
                            <br>
                            <h6 class="lorem">6. Prioritize and Address Root Causes: Develop action plans to
                                address the identified
                                root causes.</h6>
                            <br>
                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton nbStepperNext>next</button>
                        </nb-step>
                        <nb-step label="Third step">
                            <h4>Tools and Techniques</h4>
                            <br>
                            <h6 class="lorem">
                                Brainstorming Sessions: Gather a team to brainstorm potential causes for each category.
                            </h6>
                            <br>
                            <h6 class="lorem">
                                5 Whys Technique: Ask "Why?" repeatedly until you reach the fundamental cause of the
                                problem.
                            </h6>
                            <br>
                            <h6 class="lorem">
                                Data Collection and Analysis: Use data to verify and validate the causes identified
                                during brainstorming.
                            </h6>
                            <br>
                            <h6 class="lorem">
                                Pareto Analysis: Focus on the causes that have the most significant impact, often
                                illustrated by the Pareto principle (80/20 rule).
                            </h6>
                            <br>
                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton nbStepperNext>next</button>
                        </nb-step>
                        <nb-step [label]="labelFour">
                            <ng-template #labelFour>Fourth step</ng-template>
                            <h4>What If (Testing and Validation)</h4>
                            <br>
                            <h6 class="lorem">
                                Hypothesis Testing: Implement temporary solutions based on identified root causes and
                                observe the results. </h6>
                            <br>
                            <h6 class="lorem">
                                Pilot Projects: Test solutions on a small scale before full implementation. </h6>
                            <br>
                            <h6 class="lorem">
                                Monitoring and Measurement: Continuously monitor the outcomes to ensure the problem is
                                resolved. </h6>
                            <br>
                            <h6 class="lorem">
                                Feedback Loops: Gather feedback from stakeholders to validate the effectiveness of the
                                solutions. </h6>
                            <br>
                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton nbStepperNext>next</button>
                        </nb-step>
                        <nb-step [label]="labelFive">
                            <ng-template #labelFive>Fifth step</ng-template>
                            <h4>Continuous Improvement</h4>
                            <br>
                            <h6 class="lorem">
                                Regular Reviews: Conduct periodic reviews of processes and outcomes to identify new
                                issues or improvements. </h6>
                            <br>
                            <h6 class="lorem">
                                Training and Development: Educate employees on root cause analysis and problem-solving
                                techniques. </h6>
                            <br>
                            <h6 class="lorem">
                                Standardization: Incorporate successful solutions into standard operating procedures.
                            </h6>
                            <br>
                            <h6 class="lorem">
                                Continuous Learning: Stay updated on best practices and new techniques in root cause
                                analysis and quality management. </h6>
                            <br>
                            <button nbButton nbStepperPrevious>prev</button>
                            <button nbButton disabled nbStepperNext>next</button>
                        </nb-step>
                    </nb-stepper>
                </nb-card-body>
            </nb-card>
            <br>
            <br>
        </div>
        <h1>Example of an Ishikawa diagram </h1>
        <div class="svg-container">
            <br>
            <br>
            <section id="image-container">
                <img src="assets/images/rcaex.png" alt="Ishikawa" id="build-smart-image">
            </section>
            <br>

        </div>
        <h6>
            The Fishbone diagram example provided illustrates a structured approach to analyzing cause and effect
            relationships within a production process. It visually organizes potential causes into categories that
            branch out from a central problem statement, resembling the skeletal structure of a fish. This diagram
            format enables teams to systematically explore various factors contributing to issues or inefficiencies
            in production. By categorizing causes such as equipment, materials, methods, people, and environment,
            the diagram highlights interdependencies and helps prioritize areas for improvement. Its clear and
            organized layout aids in fostering team collaboration, brainstorming, and developing targeted solutions
            to enhance process efficiency and quality control. The diagram's simplicity yet comprehensive coverage
            of potential factors makes it a valuable tool for continuous improvement initiatives in industrial
            settings.</h6>
    </section>
</div>